{% extends 'dashboard/base.html' %}

{% block title %} Edit Patient Details {% endblock %}

{% block content %}

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
    }

    .patient-details {
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto 20px;
        max-width: 60%; /* Adjusted max-width for better responsiveness */
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr; /* Updated to a single column */
        margin-top:3rem;
    }

    .patient-details h2 {
        margin-bottom: 20px;
        grid-column: span 1;
    }

    .input-group {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
    }

    .input-group label {
        font-weight: bold;
    }

    .input-group input,
    .input-group select,
    .input-group textarea,
    .date-remarks-group input[type="date"] {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .date-remarks-group {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .date-remarks-group label {
        font-weight: bold;
    }

    .date-remarks-group textarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .dynamic-fields {
        margin-top: 15px;
    }

    .dynamic-fields input[type="date"],
    .dynamic-fields textarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 15px;
    }

    .button-group {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: flex-start; /* Adjusted justification */
    }

    .button-group button {
        padding: 10px;
        background-color: #ff9c80;
        color: black;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .button-group button:hover {
        background-color: #b85236;
        color: white;
    }
    .search-field {
        margin-bottom: 15px;
    }
    .search-field {
        width: 20%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .search-label {
        margin-bottom: 5px;
        display: block;
        color: #555;
        font-weight: bold;
    }
     .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .pagination a {
        color: black;
        background-color: #ff9c80;
        border: 1px solid #ff9c80;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .pagination a:hover {
        background-color: #ff9c80;
    }

    .pagination .active {
        background-color:#ff9c80;
    }

    .pagination .disabled {
        color: black;
        pointer-events: none;
    }
    .patient-actions {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .search-form {
        display: flex;
        gap: 10px;
    }

    .search-field input {
        {% comment %} width: 20%; {% endcomment %}
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 12px;
    }

    .add-details-btn {
        padding: 8px;
        background-color: #ff9c80;
        color: black;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 12px;
    }

    .add-details-btn:hover {
        background-color: #0056b3;
    }
</style>
<div class="patient-details">
    <h2>Edit Patient Details</h2>
    <form method="post" action="{% url 'dashboard:patient_edit' patient.id %}">
        {% csrf_token %}
        
        <div class="input-group">
        <div style="display: flex; gap: 15px;">
            <div style="flex: 1;">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" value="{{ patient.first_name }}" required>
            </div>
            <div style="flex: 1;">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" value="{{ patient.last_name }}" required>
            </div>
        </div>
        </div>
        
        <div class="input-group">
        <div style="display: flex; gap: 15px;">
            <div style="flex: 1;">
                <label for="patientId">Patient ID:</label>
                <input type="text" id="patientId" name="patientId" value="{{ patient.patient_id }}" required>
            </div>
            <div style="flex: 1;">
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" required>
                    <option value="male" {% if patient.gender == 'male' %}selected{% endif %}>Male</option>
                    <option value="female" {% if patient.gender == 'female' %}selected{% endif %}>Female</option>
                    <option value="other" {% if patient.gender == 'other' %}selected{% endif %}>Other</option>
                </select>
            </div>
        </div>
        </div>
        
        <div class="input-group">
            <label for="address">Address:</label>
            <textarea type="text" id="address" name="address" style="height: 8rem;" required>{{ patient.address }}</textarea>
        </div>
        
        <div class="input-group">
            <div style="display: flex; gap: 15px;">
                <div style="flex: 1;">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" value="{{ patient.phone_number }}" required>
                </div>
                <div style="flex: 1;">
                    <label for="dob">Date of Birth:</label>
                    {% with dob=patient.date_of_birth|date:"Y-m-d" %}
                    <input type="text" id="dob" name="dob" value="{% if dob %}{{ dob }}{% endif %}" required>
                    {% endwith %}
                </div>
            </div>
        </div>
        {% comment %} <div class="date-remarks-group">
            <div>
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" value="{% if patient.date %}{{ patient.date|date:'Y-m-d' }}{% endif %}">
            </div>
            <div>
                <label for="remarks">Remarks:</label>
                <textarea id="remarks" name="remarks" rows="5">{{ patient.remarks }}</textarea>
            </div>
        </div> {% endcomment %}

        <h3>Additional Remarks</h3>
        <div class="patient-actions">
            <form method="get" action="{% url 'dashboard:patient_edit' patient.id %}" class="search-form">
                <input type="date" name="dateSearch" class="search-field" placeholder="Search by Date">
                <button type="submit" class="add-details-btn" style="margin-left:1rem;height:3rem;margin-top:-1rem;">Search</button>
            </form>
        </div>
        
        <!-- Style the search field -->
        {% comment %} <input type="date" id="dateSearch" class="search-field" placeholder="Search by Date"> {% endcomment %}
        {% for remark in remarks %}
            <div class="date-remarks-group">
                <h3>Appointment: {{ forloop.counter }}</h3>
                <div>
                    <label for="date_{{ remark.id }}">Date:</label>
                    <input type="date" id="date_{{ remark.id }}" name="date_{{ remark.id }}" value="{% if remark.date %}{{ remark.date|date:'Y-m-d' }}{% endif %}">
                </div>
                <div>
                    <label for="remarks_{{ remark.id }}">Remarks:</label>
                    <textarea id="remarks_{{ remark.id }}" name="remarks_{{ remark.id }}" rows="10">{{ remark.remarks }}</textarea>
                </div>
            </div>
        {% endfor %}

        {% if remarks.paginator.num_pages > 1 %}
            <div class="pagination">
                <span class="step-links">
                    {% if remarks.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ remarks.previous_page_number }}">previous</a>
                    {% endif %}
            
                    {% comment %} <span class="current">
                        Page {{ remarks.number }} of {{ remarks.paginator.num_pages }}.
                    </span> {% endcomment %}
            
                    {% if remarks.has_next %}
                        <a href="?page={{ remarks.next_page_number }}">next</a>
                        <a href="?page={{ remarks.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        
        {% endif %}

        <div class="dynamic-fields" id="dynamicFieldsContainer">
            <!-- Fields for dynamically added dates and remarks will be inserted here -->
        </div>
        <div class="button-group">
            <button type="submit">Save Changes</button>
            <button type="button" onclick="addDynamicFields()">Add</button>
        </div>
    </form>

    <script>
        function addDynamicFields() {
            var container = document.getElementById('dynamicFieldsContainer');
            
            // Incremental index to ensure unique names for each dynamic field
            var index = container.children.length / 2 + 1;
    
            // Create a new input element for date
            var dateInput = document.createElement('input');
            dateInput.type = 'date';
            dateInput.name = 'dynamic_dates_' + index;
            dateInput.classList.add('hehe');
            container.appendChild(dateInput);
    
            // Create a new textarea element for remarks
            var remarksTextarea = document.createElement('textarea');
            remarksTextarea.name = 'dynamic_remarks_' + index;
            remarksTextarea.placeholder = 'Remarks';
            remarksTextarea.rows = 5;
            remarksTextarea.classList.add('textarea1');
            container.appendChild(remarksTextarea);
        }
    </script>
    
</div> 
{% endblock %}
